{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<br><br><br>
<br><br><br>
<section >
<center style="width=100px">
{{ form_start(RegisterForm) }}
{{ form_end(RegisterForm) }}
</section>
</center>
{% endblock %}
